@media only screen and (max-width:1200px) {

    .fdBowl {
        width: 350px;
    }

    .sliderBase {
        width: 100vw;
    }

    .slider img {
        width: 250px;
    }

    .slide {
        margin: 0 50px;
    }

    .upEvn-box hgroup h2 {
        font-size: 23px;
        line-height: 28px;
        padding-bottom: 8px;
    }

    .upEvn-box p {
        font-size: 19px;
        line-height: 30px;
    }

    .upEvn-box-rt img {
        width: 700px;
        height: 430px;
    }

    .rsrvtn {
        padding: 60px 0;
    }

    hgroup h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .rsrvtn hgroup h3 {
        font-size: 60px;
    }

    .frm {
        padding: 50px 0;
    }

    .rsrvtn .redGrapes {
        top: 17%;
        right: 5%;
        width: 150px;
    }

    .rsrvtn .redGrapes {
        position: absolute;
        top: 17%;
        right: 3%;
        animation: redGrapes 3s infinite linear;
    }

    .rsrvtn .formDish {
        top: 75%;
        left: 2%;
        width: 250px;
    }

    .footerCont-2 {
        padding-top: 7%;
        font-size: 18px;
    }
}

@media only screen and (max-width:1000px) {

    figure img {
        width: 200px;
    }

    .nav1 span img {
        width: 40px;
    }

    .header {
        position: relative;
    }

    .top {
        position: absolute;
        top: 15px;
    }

    .navArea {
        position: relative;
    }

    #mainNav ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        position: fixed;
        right: -170px;
        top: 50px;
        background-color: rgb(0, 0, 1);
        width: 150px;
        padding: 27px 0;
        padding-top: 27px;
        gap: 27px;
        z-index: 999;
        transition: all 1s;
        height: 220px;
        padding-top: 50px;
    }


    .bars {
        visibility: visible !important;
        transition: all 0.8s;
    }

    .fdBowl {
        width: 300px;
    }

    .story {
        padding: 40px 0 100px;
    }

    hgroup h2 {
        font-size: 25px;
    }

    hgroup h3 {
        font-size: 55px;
        line-height: 58px;
    }

    .storyRt p {
        font-size: 20px;
        line-height: 30px;
    }

    .discoverMenu-cont h3 {
        font-size: 35px;
        padding-bottom: 12px;
    }

    .discoverMenu-cont p {
        font-size: 18px;
    }

    .slider img {
        width: 200px;
    }

    .upEvn-box hgroup h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .upEvn-box hgroup h3 {
        font-size: 42px;
        line-height: 46px;
        margin-bottom: 40px;
    }

    .upEvn-box p {
        font-size: 18px;
        line-height: 25px;
    }

    .upEvn-box-rt img {
        width: 580px;
        height: 350px;
    }

    .rsrvtn {
        padding: 35px 0;
    }

    .rsrvtn .redGrapes {
        width: 120px;
    }

    .rsrvtn .formDish {
        top: 80%;
        left: 1%;
        width: 170px;
    }

    .rsrvtn hgroup {
        margin-bottom: 0px;
    }

    hgroup h2 {
        font-size: 20px;
    }

    .rsrvtn hgroup h3 {
        font-size: 40px;
        margin-top: 0px;
    }

    .frm div input[type="text"],
    input[type="date"] {
        padding: 15px 10px;
        width: 330px;
        font-size: 16px;
    }

    .frm div button {
        padding: 14px 18px;
        width: 353px;
        font-size: 17px;
    }

    .footerCont-1 {
        padding-top: 12%;
    }

    .footerCont-1 ul li span {
        font-size: 20px;
    }

    .footerCont-2 div i {
        font-size: 16px;
    }
}


@media only screen and (max-width:800px) {

    figure img {
        width: 150px;
    }

    .nav1 span img {
        width: 30px;
    }

    .nav1 span:nth-child(2) {
        font-size: 14px;
        line-height: 17px;
    }

    .fdBowl {
        width: 250px;
    }

    hgroup h2 {
        font-size: 17px;
    }

    hgroup h3 {
        font-size: 45px;
        line-height: 46px;
    }

    .story {
        padding: 30px 0 80px;
    }

    .storyRt p {
        font-size: 18px;
        line-height: 24px;
    }

    a.button {
        font-size: 16px;
        padding: 7px 18px;
    }

    .storyImg1 {
        bottom: -92px;
        width: 200px;
        right: 2%;
    }

    .discoverMenu-cont h3 {
        font-size: 25px;
        padding-bottom: 4px;
    }

    .discoverMenu-cont p {
        font-size: 16px;
        width: 58vw;
    }

    .slide {
        margin: 0 40px;
    }

    .slider img {
        width: 170px;
    }

    .sliderBase {
        padding: 40px 0 0;
    }

    .upEvn-box hgroup h2 {
        font-size: 18px;
        line-height: 18px;
    }

    .upEvn-box hgroup h3 {
        font-size: 34px;
        line-height: 36px;
        margin-bottom: 30px;
    }

    .upEvn-box p {
        font-size: 16px;
        line-height: 22px;
    }

    .upEvn-box-rt img {
        width: 450px;
        height: 310px;
    }

    .frm {
        padding: 30px 0;
    }

    .rsrvtn .redGrapes {
        width: 90px;
        top: 10%;
    }

    .frm div input[type="text"],
    input[type="date"] {
        padding: 10px 8px;
        width: 290px;
        font-size: 16px;
    }

    .frm div button {
        padding: 12px 15px;
        width: 308px;
        font-size: 16px;
    }

    .rsrvtn .formDish {
        width: 130px;
    }

    .footerCont-1 ul li i.fa-solid {
        font-size: 20px;
    }

    .footerCont-1 ul li span {
        font-size: 16px;
    }

    .footerCont-1 ul li {
        gap: 15px;
    }

    .footerCont-2 {
        font-size: 15px;
    }

    .footerCont-2 div i {
        font-size: 12px;
    }
}

@media only screen and (max-width:767px) {}

@media only screen and (max-width:580px) {

    figure img {
        width: 100px;
    }

    .nav1 span img {
        width: 20px;
    }

    .nav1 span:nth-child(2) {
        font-size: 12px;
        line-height: 12px;
    }

    .logoNav i.fa-solid {
        font-size: 27px;
    }

    .bars {
        top: 30px;
    }

    .fdBowl {
        width: 180px;
    }

    hgroup h2 {
        font-size: 15px;
    }

    hgroup h3 {
        font-size: 30px;
        line-height: 30px;
    }

    .story {
        padding: 20px 0 55px;
    }

    .storyRt p {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 20px;
    }

    .storyCont {
        display: flex;
        gap: 40px;
        margin: auto 6%;
    }

    a.button {
        font-size: 14px;
        padding: 5px 14px;
    }

    .storyImg1 {
        bottom: -60px;
        width: 130px;
        right: 2%;
    }

    .discoverMenu-cont h3 {
        font-size: 20px;
        padding-bottom: 0;
        letter-spacing: 2px;
    }

    .discoverMenu-cont p {
        font-size: 13px;
        width: 65vw;
    }

    .slider img {
        width: 80px;
        margin-bottom: 25px;
    }

    .sliderBase {
        padding: 20px 0px 0px;
    }

    .upEvents {
        margin: 0px 0;
    }

    .upEvn-box {
        padding: 10px 18px 20px 24px;
        gap: 0px;
    }

    .upEvn-box hgroup h2 {
        font-size: 15px;
        line-height: 15px;
    }

    .upEvn-box hgroup h3 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 21px;
    }

    .upEvn-box p {
        font-size: 14px;
        line-height: 18px;
    }

    .upEvn-box-rt img {
        width: 290px;
        height: 220px;
    }

    .rsrvtn hgroup h3 {
        font-size: 30px;
    }

    .frm {
        padding: 15px 0;
    }

    .frm div input[type="text"],
    input[type="date"] {
        padding: 6px 8px;
        width: 200px;
        font-size: 12px;
    }

    .frm div button {
        padding: 6px 15px;
        width: 218px;
        font-size: 13px;
    }

    .rsrvtn .redGrapes {
        width: 60px;
        top: 20%;
    }

    .rsrvtn .formDish {
        width: 90px;
    }

    .footerCont-1 ul li {
        gap: 8px;
    }

    .footerCont-1 ul li i.fa-solid {
        font-size: 14px;
    }

    .footerCont-1 ul li span {
        font-size: 13px;
    }

    .footerCont-2 {
        font-size: 12px;
    }

    .footerCont-2 div i {
        font-size: 10px;
    }
}

@media only screen and (max-width:420px) {

    .nav1 {
        gap: 8px;
    }

    .nav1 span img {
        width: 15px;
    }

    .nav1 span:nth-child(2) {
        font-size: 9px;
        line-height: 12px;
    }

    .fdBowl {
        width: 150px;
    }

    .fdBowl {
        bottom: -20%;
    }

    .storyImg1 {
        bottom: -50px;
        width: 110px;
    }

    .discoverMenu-cont h3 {
        font-size: 17px;
        letter-spacing: 1px;
    }

    .discoverMenu-cont p {
        font-size: 10px;
        width: 80vw;
    }

    .slide {
        margin: 0 20px;
    }

    .upEvn-box-rt img {
        width: 200px;
        height: 140px;
    }

    .upEvn-box p {
        font-size: 11px;
        line-height: 14px;
    }

    .upEvn-box hgroup h3 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .upEvn-box {
        padding: 4px 15px 14px 15px;
        box-shadow: 20px 15px 25px 5px rgba(112, 112, 112, 0.292);
    }

    hgroup h2 {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .rsrvtn hgroup h3 {
        font-size: 24px;
        line-height: 25px;
    }

    .rsrvtn .redGrapes {
        top: 12%;
    }

    .frm div {
        gap: 12px;
    }

    .frm div input[type="text"],
    input[type="date"] {
        width: 160px;
        font-size: 10px;
    }

    .frm div button {
        padding: 5px 10px;
        width: 179px;
        font-size: 12px;
    }

    .footerCont-1 ul li span {
        font-size: 11px;
    }

    .footerCont-2 {
        font-size: 8px;
    }

    .footerCont-2 div i {
        font-size: 10px;
        padding: 5px 6px;
    }

    .footerCont-2 {
        padding-top: 6%;
    }

    .storyRt p {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 17px;
    }

    .storyCont {
        display: flex;
        gap: 17px;
        margin: auto 4%;
    }
}

@media only screen and (max-width:410px) {

    .nav1 {
        gap: 8px;
    }

    .nav1 span img {
        width: 15px;
    }

    .nav1 span:nth-child(2) {
        font-size: 9px;
        line-height: 12px;
    }

    .fdBowl {
        width: 150px;
    }

    .fdBowl {
        bottom: -20%;
    }

    .storyImg1 {
        bottom: -50px;
        width: 110px;
    }

    .discoverMenu-cont h3 {
        font-size: 17px;
        letter-spacing: 1px;
    }

    .discoverMenu-cont p {
        font-size: 10px;
        width: 80vw;
    }

    .slide {
        margin: 0 20px;
    }

    .upEvn-box-rt img {
        width: 200px;
        height: 140px;
    }

    .upEvn-box p {
        font-size: 11px;
        line-height: 14px;
    }

    .upEvn-box hgroup h3 {
        font-size: 25px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .upEvn-box {
        padding: 4px 15px 14px 15px;
        box-shadow: 20px 15px 25px 5px rgba(112, 112, 112, 0.292);
    }

    hgroup h2 {
        font-size: 14px;
        letter-spacing: 2px;
    }

    .rsrvtn hgroup h3 {
        font-size: 24px;
        line-height: 25px;
    }

    .rsrvtn .redGrapes {
        top: 12%;
    }

    .frm div {
        gap: 12px;
    }

    .frm div input[type="text"],
    input[type="date"] {
        width: 160px;
        font-size: 10px;
    }

    .frm div button {
        padding: 5px 10px;
        width: 179px;
        font-size: 12px;
    }

    .footerCont-1 ul li span {
        font-size: 11px;
    }

    .footerCont-2 {
        font-size: 8px;
    }

    .footerCont-2 div i {
        font-size: 10px;
        padding: 5px 6px;
    }

    .footerCont-2 {
        padding-top: 6%;
    }

    .storyRt p {
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 17px;
    }

    .storyCont {
        display: flex;
        gap: 17px;
        margin: auto 4%;
    }
}

@media only screen and (max-width:400px) {

    figure img {
        width: 80px;
    }

    .nav1 {
        gap: 6px;
        padding-bottom: 0;
    }

    .nav1 span img {
        width: 15px;
    }

    .nav1 span:nth-child(2) {
        font-size: 9px;
        line-height: 10px;
    }

    .logoNav i.fa-solid {
        font-size: 20px;
    }

    #mainNav ul {
        top: 30px;
        gap: 10px;
        height: 160px;
        width: 130px;
        padding-top: 23px;
    }

    #mainNav ul li a {
        font-size: 12px;
    }

    .fdBowl {
        width: 120px;
    }

    .story {
        padding: 15px 0 30px;
    }

    .storyCont {
        gap: 15px;
        margin: auto 1%;
    }

    hgroup h2 {
        font-size: 12px;
        line-height: 20px;
    }

    hgroup h3 {
        font-size: 23px;
        line-height: 23px;
    }

    .storyRt p {
        font-size: 12px;
        line-height: 15px;
        margin-bottom: 15px;
    }

    a.button {
        font-size: 10px;
        padding: 5px 14px;
    }

    .storyImg1 {
        bottom: -36px;
        width: 80px;
        right: 2%;
    }

    .discoverMenu-cont h3 {
        font-size: 15px;
    }

    .discoverMenu-cont p {
        font-size: 10px;
        width: 80vw;
    }

    .slide {
        margin: 0 18px;
    }

    .slider img {
        width: 60px;
    }

    .sliderBase {
        padding: 15px 0px 0px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 6px !important;
        height: 6px !important;
    }

    .upEvn-box {
        padding: 10px 16px 20px 10px;
        box-shadow: 5px 20px 23px 3px rgba(112, 112, 112, 0.292);
    }

    .upEvn-box hgroup h2 {
        font-size: 10px;
        line-height: 10px;
        padding-bottom: 4px;
    }

    .upEvn-box hgroup h3 {
        font-size: 19px;
        line-height: 19px;
        margin-bottom: 10px;
    }

    .upEvn-box p {
        font-size: 11px;
        line-height: 13px;
    }

    .upEvn-box-rt img {
        width: 190px;
        height: 120px;
    }

    .rsrvtn {
        padding: 20px 0;
    }

    .rsrvtn hgroup h3 {
        font-size: 22px;
    }

    .frm {
        padding: 12px 0;
    }

    .frm div {
        gap: 10px;
    }

    .frm div input[type="text"],
    input[type="date"] {
        padding: 5px 8px;
        width: 120px;
    }

    .frm div button {
        padding: 6px 15px;
        width: 138px;
    }

    .rsrvtn .redGrapes {
        width: 45px;
        top: 20%;
    }

    .rsrvtn .formDish {
        width: 75px;
    }

    .footerCont-1 ul li {
        gap: 6px;
    }

    .footerCont-1 ul li i.fa-solid {
        font-size: 10px;
    }

    .footerCont-1 ul li span {
        font-size: 10px;
    }

    .footerCont-1 ul li {
        padding-bottom: 4px;
    }

    .footerCont-2 {
        font-size: 8px;
    }

    .footerCont-2 div i {
        font-size: 8px;
        padding: 4px 5px;
    }








}